numpy
matplotlib
scikit-image
scipy 
pickle
argparse
torch==1.0.0
torchvision==0.2.1 
opencv-python==3.4.0.12
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability